/TP2/inf4710_tp2_cpp/x64/Debug/zigzag.obj
/TP2/inf4710_tp2_cpp/x64/Debug/zigzag_inv.obj
/TP2/inf4710_tp2_cpp/x64/Debug/vc140.pdb
/TP2/inf4710_tp2_cpp/x64/Debug/vc140.idb
/TP2/inf4710_tp2_cpp/x64/Debug/quantif.obj
/TP2/inf4710_tp2_cpp/x64/Debug/quantif_inv.obj
/TP2/inf4710_tp2_cpp/x64/Debug/main.obj
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.tlog
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.pdb
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.log
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.ilk
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.exe
/TP2/inf4710_tp2_cpp/x64/Debug/inf4710_tp2.Build.CppClean.log
/TP2/inf4710_tp2_cpp/x64/Debug/huff.obj
/TP2/inf4710_tp2_cpp/x64/Debug/huff_inv.obj
/TP2/inf4710_tp2_cpp/x64/Debug/huff_common.obj
/TP2/inf4710_tp2_cpp/x64/Debug/decoup.obj
/TP2/inf4710_tp2_cpp/x64/Debug/decoup_inv.obj
/TP2/inf4710_tp2_cpp/x64/Debug/dct.obj
/TP2/inf4710_tp2_cpp/x64/Debug/dct_inv.obj
/TP2/inf4710_tp2_cpp/x64/Debug/conv_ycbcr2rgb.obj
/TP2/inf4710_tp2_cpp/x64/Debug/conv_rgb2ycbcr.obj
/TP2/inf4710_tp2_cpp.zip
/TP2/INF4710_TP2_A2016_v1.pdf
/TP1/INF4710-TP1.zip
/TP1/inf4710_tp1_cpp_v3/x64/Debug/vc140.pdb
/TP1/inf4710_tp1_cpp_v3/x64/Debug/vc140.idb
/TP1/inf4710_tp1_cpp_v3/x64/Debug/tp1.obj
/TP1/inf4710_tp1_cpp_v3/x64/Debug/main.obj
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.tlog
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.pdb
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.log
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.ilk
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.exe
/TP1/inf4710_tp1_cpp_v3/x64/Debug/inf4710_tp1.Build.CppClean.log
/TP1/inf4710_tp1_cpp_v3/x64/Debug/data
/TP1/INF4710_TP1_A2016_v2.pdf
/TP1/INF4710 Rapport TP1.pdf
/TP1/index.html\?contest=video-detail.3
/TP1/index.html\?contest=video-detail.2
/TP1/index.html\?contest=video-detail.1
/TP1/index.html\?contest=video-detail
